*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(about-back.jpg);
    background-size: cover;
    min-height: 200vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 50px;
    z-index: 100000;
}
header .logo{
    font-family: 'Geologica', sans-serif;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.sticky{
    padding: 5px 20px;
    background-color: darkolivegreen;
}
header ul li{
    position: relative;
    list-style-type: none;
}
header ul li a{
    position: relative;
    margin: 0px 5px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
}
header ul li a:hover{
    position: relative;
    margin: 0px 5px;
    text-decoration: none;
    color: rgb(191, 72, 72);
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
}
#lae{
    font-size: small;
}