*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: darkolivegreen;
    min-height: 200vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 30px;
    z-index: 100000;
}
header .logo{
    font-family: 'Geologica', sans-serif;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.sticky{
    padding: 5px 20px;
    background-color: darkolivegreen;
}
header ul li{
    position: relative;
    list-style-type: none;
}
header ul li a{
    position: relative;
    margin: 0px 5px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
}
header ul li a:hover{
    position: relative;
    margin: 0px 5px;
    text-decoration: none;
    color: rgb(191, 72, 72);
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
}
.banner{
    position: relative;
    width: 100%;
    height: 100cm;
    background-image: url(back.jpg);
    background-size: cover;
}
.foot{
    width: 100%;
    background-color: rgb(20, 53, 53);
    height: 2cm;
}
.about{
    display: flex;
    padding: 45px 30px;
    height: 12%;
    width: 100%;
    background-color: azure;
    position: absolute;
    top: 20%;
    justify-content: space-evenly;
}
.first:hover{
    width: 80%;
    transition: 0.7s;
}
.second:hover{
    width: 80%;
    transition: 0.7s;
}
.third:hover{
    width: 80%;
    transition: 0.7s;
}
#about-logo{
    margin-top: .2cm;
    font-family: geologica;
    font-size: xx-large;
    text-align: center;
}
.boxes{
    display: flex;
}

.first{
    background-color: antiquewhite;
    width: 28%;
    height: 80%;
    background-image: url(about-back.jpg);
    background-position: center;
    background-size: cover;
}
.second{
    background-color: antiquewhite;
    width: 28%;
    height: 80%;
    background-image: url(green.jpg);
    background-position: center;
    background-size: cover;
}
.third{
    background-color: antiquewhite;
    width: 28%;
    height: 80%;
    background-image: url(blue.jpg);
    background-position: center;
    background-size: cover;
}